<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Goodreads SH-2020</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="mt-3">Book Details</h5>
        <div class="card mt-3">
          <div class="card-body">
            <form action="/add-task">


              <div class="form-group">
                <label>Word count</label>
                <input type="text" class="form-control" name="url" placeholder="Enter URL" required>
                {% if message %}
                <small id="emailHelp" class="form-text text-muted">{{ message }}</small>
                {% endif %}
              </div>


              <div class="content-points-group">
                <h6>Items</h6>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="item-chest-hair" name='item' value="item-1">
                  <label class="form-check-label" for="item-chest-hair">
                    Chest Hair [1 point]
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="item-pen" name='item' value='item-2'>
                  <label class="form-check-label" for="item-pen">
                    Pen [2 points]
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="item-closet" name='item' value='item-3'>
                  <label class="form-check-label" for="item-closet">
                    Closet/Wardrobe [3 points]
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="item-door-knob" name='item' value='item-4'>
                  <label class="form-check-label" for="item-door-knob">
                    Door Knob/Door Handle [4 points]
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="item-bottle" name='item' value='item-5'>
                  <label class="form-check-label" for="item-bottle">
                    Bottle [5 points]
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="item-toothbrush" name='item' value='item-6'>
                  <label class="form-check-label" for="item-toothbrush">
                    Toothbrush [6 points]
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="item-microwave" name='item' value='item-7'>
                  <label class="form-check-label" for="item-microwave">
                    Microwave [7 points]
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="item-crime-tape" name='item' value='item-8'>
                  <label class="form-check-label" for="item-crime-tape">
                    Crime Scene Tape [8 points]
                  </label>
                </div>
              </div>



              <button type="submit" name="submit" value="submit" class="btn btn-primary mt-3">Submit</button>
            </form> 

          </div>
        </div>
      </div>
      <div class="col">
        <p>Hi</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="mt-3 mb-3">Job queue</h5>
        {% if book_details %}

        <div class="card mb-3">
          <div class="card-body">
            <p>Title: <b>{{book_details.title}}</b></p>
            <p>Author: <b>{{book_details.author_name}} {{book_details.author_id}}</b></p>
            <p>Pages: <b>{{book_details.pages}}</b></p>
            <p>Points: {{book_details.item_points}}</p>
          </div>
        </div>
        {% else %}
        <p>No jobs in the queue</p>
        {% endif %}
      </div>
    </div>
  </div>

</body>

</html>